<div id="container-about" class="container-fluid">
	<div class="container">
			<div class="row">
				<div class="col-sm-6" id="about-text-1">
					<h2>About Us</h2>
					Alpha-Omega Scientific Inc. is a trading business company located in Richmond, B.C. Canada. We specialize in selling high 
					quality forensics equipment to law enforcements and to forensic laboratories in Asia.
				</div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="col-sm-6" id="about-text-1">
					<h2>Services</h2>
					Alpha-Omega will aid in the establishment of your company
					as the goods provider of choice in China. Our goal is to apply our skills and experience
					to develop a market in Asia for forensics equipment and law enforcment products.
					<br>
					By working with us, your company will be exposed to innovative business concepts and strategies
					in dealing with the Chinese market. Our consultant is equipped to match your needs with the demands
					from Chinese-based organizations. Specifically we provide assistance in the following areas:
					<br>
					<br>
					<ul>
						<li>Find you the most rewarding deals</li>
						<li>Seek out the best business partners for you to establish contacts</li>
						<li>Arrange meetings to make business negotiations</li>
						<li>Arrange factory visits and business tours</li>
					</ul>
				</div>
			</div>
		<br>
		<br>
	</div>
</div>