<div id="container-contact" class="container-fluid">
	<div id="contact-header">
		CONTACT US
	</div>
	<div id="contact-sub-header">
		We serve customers world wide. 
		If you have any questions feel free to give us call or send us an email.
	</div>
	<div id="contact-office">
		RICHMOND OFFICE
	</div>
	<ul class="contact-info">
		<li>
			<a ng-click="ContactCtrl.showModal()">
				<span class="glyphicon glyphicon-envelope">
					<p id="contact-info-font">info@alpha-omega-inc.net</p>
				</span>
			</a>
		</li>
		<li>
			<span class="glyphicon glyphicon-earphone">
				<p id="contact-info-font">+1 (604)-505-3724</p>
			</span>
		</li>
		<li>
			<span class="glyphicon glyphicon-map-marker">
				<ul id="contact-info-font">
					<li>5251 Smith Drive</li>
					<li>Richmond, British Columbia</li>
					<li>Canada, V6V 2L6</li>
				</ul>
			</span>
		</li>
	</ul>
</div>

<!-- Mail Modal -->
<div id="mailModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Contact Us</h3>
			</div>
			<div class="modal-body">
				<!-- Mail Form TODO-->

			</div>
		</div>
	</div>
</div>