<div id="container-about" class="container-fluid">
	<div class="container">
			<div class="row">
				<div class="col-sm-6" id="about-text-1">
					Led by a team of professional consultants, our company introduces world-class products to potential
					users in developing countries through organized trade. With a unique approach to finding "win-win"
					solutions for both buyers and suppliers, Alpha-Omega will aid in the establishment of your company
					as the goods provider of choice in these countries. Our goal is to apply our skills and experience
					to develop a worldwide market for forensics equipment and law enforcment products.
					<br>
					By working with us, your company will be exposed to innovative business concepts and strategies
					in dealing with the Chinese market. Our consultant is equipped to match your needs with the demands
					from Chinese-based organizations. Specifically we provide assistance in the following areas:
					<br>
					<br>
					<ul>
						<li>Find you the most rewarding jobs</li>
						<li>Seek out the best business partners for you to establish contacts</li>
						<li>Arrange meetings with experts on Chinese law and business negotiations</li>
						<li>Orchestrate factory visits and business tours</li>
					</ul>
					<br>	
					In short, our goal is to help you effectively establish connections at a reasonable cost. 
					All our services are backed by money back guarantee.
				</div>
			</div>
		<br>
		<br>
	</div>
</div>