<div id="container-partners" class="container">
	<div id="partners-header">
		{{'partners.HEADER' | translate}}
	</div>
	<div id="partners-sub-header">
		Alpha-Omega Scientific Inc. is an authorized distributor of the following companies:
	</div>
	<div class="container">
		<div class="row">
			<div id="partner" class="col-sm-3">
				<a href="http://www.sirchie.com"><img id="partner-img" src="imgs/partners/sirchie.png"></a>
			</div>
			<div id="partner" class="col-sm-3">
				<a href="http://www.safariland.com/our-brands/aba/"><img id="partner-img" src="imgs/partners/aba.png"></a>
			</div>
			<div id="partner" class="col-sm-3">
				<a href="http://www.atncorp.com/"><img id="partner-img" src="imgs/partners/atn.png"></a>
			</div>
			<div id="partner" class="col-sm-3">
				<a href="http://www.511tactical.com/"><img id="partner-img" src="imgs/partners/511tact.png"></a>
			</div>
		</div>
		<div class="row">
			<div id="partner" class="col-sm-3">
				<a href="http://www.kabar.com/"><img id="partner-img" src="imgs/partners/kabar.png"></a>
			</div>
			<div id="partner" class="col-sm-3">
				<a href="https://www.safariland.com/more.../hatch/"><img id="partner-img" src="imgs/partners/hatch.png"></a>
			</div>
			<div id="partner" class="col-sm-3">
				<a href="https://www.safariland.com/more.../b-square/"><img id="partner-img-bsquare" src="imgs/partners/bsquare.png"></a>
			</div>
			<div id="partner" class="col-sm-3">
				<img id="partner-img" src="imgs/partners/911ep.png">
			</div>
		</div>
		<br>
		<br>
	</div>
</div>