<div id="container-products" class="container-fluid">
	<div id="products-header">
		{{'products.HEADER' | translate}}
	</div>
	<div id="products-sub-header">
		As an authorized distributor for many renowned forensic and law enforcement equipment manufacturers, 
		<br>
		we have some of the finest products on the market for your choice.
	</div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div id="product" class="col-sm-12">
					<img id="armour" src="imgs/products/impulse-product.png">
					<br>
					Concealable Armour
				</div>
			</div>
			<div class="col-sm-4">
				<div id="product" class="col-sm-12">
					<img id="gloves" src="imgs/products/gloves.png">
					<br>
					Protective Gloves
				</div>
			</div>
			<div class="col-sm-4">
				<div id="product" class="col-sm-12">
					<img id="scope" src="imgs/products/riflescope.png">
					<br>
					Daylight Riflescope
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-4">
				<div id="product" class="col-sm-12">
					<img id="monocular" src="imgs/products/monocular3.png">
					<br>
					Night Vision Monocular
				</div>
			</div>
			<div class="col-sm-4">
				<div id="product" class="col-sm-12">
					<img id="detachable" src="imgs/products/detachabledisplay.png">
					<br>
					Detachable Display
				</div>
			</div>
			<div class="col-sm-4">
				<div id="product" class="col-sm-12">
					<img id="videoscope" src="imgs/products/videoscope.png">
					<br>
					Non-conductive Videoscope
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-4">
				<div id="product" class="col-sm-12">
					<img id="xray" src="imgs/products/xrayscanner.png">
					<br>
					Portable X-ray Scanner
				</div>
			</div>
			<div class="col-sm-4">
				<div id="product" class="col-sm-12">
					<img id="lifedetector" src="imgs/products/lifedetector.png">
					<br>
					Life Detector
				</div>
			</div>
			<div class="col-sm-4">
				<div id="product" class="col-sm-12">
					<img id="fingerprint" src="imgs/products/fingerprints.png">
					<br>
					Latent Fingerprint Kits
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-4">
				<div id="product" class="col-sm-12">
					<img id="tracer" src="imgs/products/tracer.png">
					<br>
					Vapor Tracer & Analyzer
				</div>
			</div>
			<div class="col-sm-4">
				<div id="product" class="col-sm-12">
					<img id="downflow" src="imgs/products/downflow.png">
					<br>
					Downflow Fingerprint Station
				</div>
			</div>
		</div>
		<br>
	</div>
</div>